# Dependencies
node_modules/
/.pnp
.pnp.js

# Production / Build output
dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# SQLite Local Database
prisma/*.db
prisma/*.db-journal
*.sqlite
*.sqlite3

# Uploaded files (keep .gitkeep and demo pdfs)
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/*.pdf

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vercel & Deployment
.vercel

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
